/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: 'Roboto', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================= */

h1 {
  display: none;
}

 nav {
   overflow: hidden;
   background-color: #000B6D;
   position: relative;
}

nav #links {
  display: none;
}

nav a {
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

nav a.icon {
  background-color: #000B6D;
  display: block;
  position: relative;
  right: 0;
  top: 0;
}

nav a:hover {
  color: #bbbbbb;
}

nav .active {
  border-bottom: 2px solid #ffffff;
}




.mosaic{
  height: 400px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.mosaic:nth-of-type(2n+1){
  width: 100%;
}

.mosaic img{
  position: absolute;
  height: auto;
  left: 50%;
  top: 0px;
  transform:translateX(-50%);
  width: 100%;
  z-index: -1;
}

.mosaic .title{
  color: #ffffff;
  font-size: 70px;
  font-weight: bold;
  height: 100%;
  line-height: 80px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  transition: all 0.2s;
  -webkit-text-stroke: 1px #666666;
  width: 100%;
}

.mosaic .title h2{
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
  width: 100%;
}

.mosaic .info{
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  left: 50%;
  line-height: 30px;
  max-width: 90%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(-50%);
  transition: all 0.5s;
  width: 100%;
  -webkit-text-stroke: 1px #666666;
}

.mosaic .info > div{
  position: relative;
  top: 30px;
}

.mosaic:hover .title{
  opacity: 0;
}

.mosaic:hover .info{
  opacity: 1;
}

.mosaic:hover img{
  filter: blur(12px);
  -webkit-filter: blur(12px);
}


.page-1{
  display: block;
}

.page-2{
  display: none;
  padding: 40px 0;
}

.page-2 .description{
  color: #979797;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  padding: 0 3%;
  text-align: center;
}

.page-2 ul {
  overflow: hidden;
  padding: 60px 0 0px;
}

.page-2 ul li {
  float: none;
  padding-bottom: 50px;
  text-align: center;
}

.page-2 ul li .img-container {
}

.page-2 ul li .img-container img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.page-2 ul li h3 {
  color: #979797;
  
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  padding-bottom: 25px;
  padding-top: 20px;
  text-transform: uppercase;
}

.page-2 ul li p {
  color: #979797;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.contact-form{
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.contact-form.active{
  display: block;
}

.contact-form form{
  background: #ffffff;
  border-radius: 5px;
  left: 50%;
  margin: 0 auto;
  max-width: 770px;
  padding: 15px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;

  height: 70%;
  overflow-y: scroll;
}

.contact-form form div{
}

.contact-form form p{
  color: #979797;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

label{
	color: #979797;
  display: block;
	font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
  line-height: 30px;
	width: 100%;
}

input[type="text"]{
	border: 3px solid #1C00D3;
  border-radius: 5px;
	font-size: 24px;
	margin-bottom: 4px;
	padding: 4px 1%;
	width: 97%;
}

input[type="submit"]{
	background: #1C00D3;
	border: 0;
  border-radius: 5px;
	color: #ffffff;
	font-size: 24px;
	margin: 15px auto;
	padding: 10px 20px;
	text-transform: uppercase;
}

input[type="submit"]:hover{
	background: #2301fc;
	cursor: pointer;
}

.center-container{
	margin: 20px 0;
	text-align: center;
}


@media(min-width: 320px){
  .mosaic img{
    width: 640px;
  }
}

@media(min-width: 640px){
  .mosaic img{
    width: 100%;
  }

  .mosaic .info{
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    height: 100%;
    line-height: 42px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.5s;
    width: 100%;
    -webkit-text-stroke: 1px #666666;
  }
}


@media(min-width: 768px){
  nav {
    background-color: #000B6D;
    overflow: hidden;
  }

  nav a.icon {
    display: none;
  }

  nav #links {
    display: block;
  }
  
  
  nav a {
    color: #ffffff;
    float: left;
    font-size: 24px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav a:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
  }
  
  nav a.active {
    border-bottom: 2px solid #ffffff;
  }

  .mosaic{
    height: 240px;
  }


  .mosaic:nth-of-type(2n+1){
    float: left;
    width: 50%;
  }

  .mosaic:nth-of-type(2n){
    margin-left: 50%;
  }

  .mosaic .info > div{
    top: 10px;
  }



  .mosaic .title{
    font-size: 50px;
    line-height: 60px;
  }
  
  .mosaic .info{
    font-size: 20px;
    line-height: 25px;
    max-width: 320px;
  }

  .page-2 ul li {
    float: left;
    text-align: center;
    width: 33.33333%;
  }

  .page-2 ul {
    overflow: hidden;
    padding: 60px 0 120px;
  }
}




@media(min-width: 1024px){
  .mosaic{
    height: 320px;
  }

  .mosaic .info > div{
    top: 30px;
  }


  .mosaic .title{
    font-size: 50px;
    line-height: 60px;
  }
  
  .mosaic .info{
    font-size: 24px;
    line-height: 30px;
    max-width: 400px;
  }
}


@media(min-width: 1310px){
  .mosaic{
    height: 420px;
  }
}


